DJANGO_SECRET_KEY=<YOUR_SECRET_KEY>

TELEGRAM_CHAT_ID=<YOUR_CHAT_ID>
TELEGRAM_BOT_TOKEN=<YOUR_BOT_TOKEN>
STRIPE_SECRET_KEY=<YOUR_STRIPE_SECRET_KEY>

POSTGRES_DB=<YOUR_DB>
POSTGRES_USER=<YOUR_USER>
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_HOST=<YOUR_HOST>
POSTGRES_PORT=<YOUR_PORT>

CELERY_BROKER_URL=<YOUR_BROKER_URL>
CELERY_RESULT_BACKEND=<YOUR_RESULT_BACKEND>